@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(/img/umbrella.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}    

@font-face {
    font-family: 'Jost', sans-serif;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Corinthia";
    src: url(/fonts/Corinthia-Regular.ttf);
}


header h1 {
    color: var(--primary-color);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    margin-left: auto; 
    margin-right: auto; 
    text-transform: uppercase;
    letter-spacing: 1px

}

:root {
    --primary-color: #FFF;
    --background-color: rgba(230, 230, 230, 0.9); 
    --date-color: #575656;
    --text-color: #262c33;  
    --hover-color: rgb(126, 126, 126);
}

.link-window {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    position: fixed;
    top: 5%;
    left: -20%;
    height: 20vh;
    width: 20%;
    padding-top: 30px;   
    transition: 0.5s ease-in-out;
    opacity: 0;
}






/* Content */

.content {
    width: 100%;
    background-color: var(--background-color);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;

}

h2 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    word-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
    position: absolute;
    top: 20%;
    left: 0;  
    margin-left: 280px;
}



.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 15px;
    word-spacing: 0.2px;
    line-height: 1.6em;
    margin-left: 280px;
}

.about-text p {
    margin-bottom: 10px;
}

.image-box {
    width: 300px;
    margin-left: 160px;
}

.image-box img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



/* Footer */

#footer {
    background-color: var(--background-color);
    width: 100%;
    padding-bottom: 20px;
}

#footer p {
    color: var(--date-color);
    margin-left: 265px;
    font-family: "Montserrat";
    font-size: 14px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    font-weight: 200;
}

@media (max-width: 992px) {
   
    .about-content {
        width: 100%;
    }

    h2 {
        margin-left: 90px;
    }

    .about-text {
        width: 45%;
        margin-left: 90px;
    }

    .image-box {
        margin-left: 20px;
        width: 290px;
    }
}

