@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(/img/umbrella.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    position: relative;
}    

@font-face {
    font-family: 'Jost', sans-serif;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Corinthia";
    src: url(/fonts/Corinthia-Regular.ttf);
}

.heading {
    font-family: 'Corinthia';
    color: var(--primary-color);
    font-size: 45px;
    position: fixed;
    top: 2%;
    right: 15%;
}

header h1 {
    color: var(--primary-color);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    left: 50%;
    text-transform: uppercase;
    letter-spacing: 1px

}

:root {
    --primary-color: #FFF;
    --background-color: rgba(230, 230, 230, 0.9); 
    --date-color: #575656;
    --text-color: #262c33;
    --hover-color: rgb(27, 26, 26);
}

.changeColor {
    color: var(--hover-color);
}


/* Navbar */

#links {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 700;
    top: 20px; 
    left: 0;
    margin-left: 60px;
    position: fixed;
    cursor: pointer;   
    z-index: 100;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul li {
    margin-left: 30px;
    text-transform: uppercase;

}

ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

ul li a:hover {
    color: var(--hover-color);
}

.turn-gray {
    color: rgb(138, 135, 135);
    transition: 1s ease-in-out;
}

/* Search bar */

.search-bar {
    position: absolute;
    top: 0;
    margin-left: 450px;
    cursor: pointer;
    color: white;
    
}

input {
    border: none;
    border-radius: 3px;
    padding: 2px;
    color: var(--date-color);
    
}

.bx-search-alt-2 {
    position: absolute;
    top: 0;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
    z-index: 100;
}

.bx-search-alt-2:hover {
    color: var(--hover-color);
   
}

/* Icons */

.icon-container {
    color: white;
    position: absolute;
    font-size: 20px;
    right: -250%;
    top:2px;
}

.icon-container a {
    color: white;
}

.icon-container i {
    margin-left: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.icon-container i:hover {
    color: var(--hover-color);
}

/* Content */

.content {
    width: 100%;
    background-color: var(--background-color);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;

}

h2 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    word-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
    position: absolute;
    top: 20%;
    left: 0;  
    margin-left: 280px;
}



.about-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 15px;
    word-spacing: 0.2px;
    line-height: 1.6em;
    margin-left: 280px;
}

.about-text p {
    margin-bottom: 10px;
}

.image-box {
    width: 290px;
    margin-left: 80px;
}

.image-box img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.tech-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.tech-list li {
    margin-left: 0;
    margin-right: 20px;
}


/* Footer */

#footer {
    background-color: var(--background-color);
    width: 100%;
    padding-bottom: 20px;
}

#footer p {
    color: var(--date-color);
    margin-left: 280px;
    font-family: "Montserrat";
    font-size: 14px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    font-weight: 200;
}

