@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFF;
    --secondary-color: rgba(230, 230, 230, 0.9); 
    --date-color: #575656;
    --text-color: #262c33;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        rgba(70, 69, 69, 0.5),
        rgba(36, 36, 36, 0.5)),
        url(/img/headerbild.jpg);
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



@font-face {
    font-family: 'Jost', sans-serif;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}


/* Navbar */

#navbar {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 20px; 
    left: 0;
    margin-left: 30px;
    position: fixed;
    cursor: pointer;    
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul li {
    margin-left: 30px;
    text-transform: uppercase;

}

ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

ul li a:hover {
    color: var(--secondary-color);
}

.turn-gray {
    color: rgb(173, 169, 169);
}

/* Search bar */

.search-bar {
    position: absolute;
    top: 0;
    margin-left: 450px;
}

input {
    border: none;
    border-radius: 3px;
    padding: 2px;
}

.bx-search-alt-2 {
    position: absolute;
    top: 0;
    margin-left: 5px;
    margin-top: 1px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.bx-search-alt-2:hover {
    color: var(--secondary-color);
}

/* Icons */

.icon-container {
    color: white;
    position: absolute;
    font-size: 20px;
    right: -250%;
    top:2px;
}

.icon-container a {
    color: white;
}

.icon-container i {
    margin-left: 10px;
    cursor: pointer;
}

.icon-container i:hover {
    color: var(--secondary-color);
}

.blog-name {
    font-family: 'Corinthia', sans-serif;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 0;
    margin-top: 200px;
    margin-left: 350px;
}

.content {
    background: var(--secondary-color);
    
    
}

.blog-post {
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

.date {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 0.2px;
    margin-top: 10px;
    margin-bottom: 60px;
    color: var(--date-color)
} 

.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
  
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 150px;
}

.text-area p {
    font-size: 15px;  
    word-spacing: 0.2px;  
    line-height: 1.6em;
}
    

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--text-color);
}

.image-manga {
    width: 30%;
    margin-left: 50px;
}

.image-manga img {
    max-width: 100%;
    height: auto;
}

.divider {
    height: 0.2px;
    width: 80%;
    margin-top: 0px;
    background-color: var(--date-color);
}




