@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-window {
    background-color:rgba(0, 0, 0, 0.5);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    position: fixed;
    top: 5%;
    left: -20%;
    height: 20vh;
    width: 20%;
    padding-top: 30px;   
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.bx-menu {
    visibility: hidden;
}

body {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    display: block;

}

:root {
    --primary-color: #FFF;
    --background-color: rgba(230, 230, 230, 0.9); 
    --date-color: #575656;
    --text-color: #262c33;
    --hover-color: rgb(126, 126, 126);
}


@font-face {
    font-family: 'Jost', sans-serif;
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

.heading {
    font-family: 'Corinthia';
    color: var(--primary-color);
    font-size: 70px!important;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 0.9%!important;
    left: 10%;  
    width: 250px;
}

.heading:hover {
    color: var(--hover-color);
    transition: 0.5s ease-in-out;
}

#facebook:hover, #pinterest:hover, #twitter:hover, #insta:hover {
    color: var(--hover-color);
    transition: 0.5s ease-in-out;
}

/* Navbar */



.scroll-menu {
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    z-index: 100;
}

.add-background {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s ease-in-out;
    z-index: 100;
}

#links {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;   
    z-index: 100;
    margin-left: 250px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul li {
    margin-left: 30px;
    text-transform: uppercase;

}

ul li a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 1s ease-in-out;
}

ul li a:hover {
    color: var(--hover-color);
}


/* Icons */

.icon-container {
    width: 200px;
    font-size: 20px;
    margin-left: 250px;
  
}

.icon-container a {
    color: var(--primary-color);
}

.icon-container i {
    margin-left: 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

#facebook:hover, #pinterest:hover, #twitter:hover, #instagram:hover {
    color: var(--hover-color);
}


.blog-name {
    color: var(--primary-color);
    font-family: 'Corinthia';
    font-size: 85px;
    font-weight: 300;
    position: absolute;
    bottom: 50%;
    margin-left: auto; 
    margin-right: auto; 
    letter-spacing: 1px
    
    }


.content {
    background: var(--background-color);
    width: 100%;  
}

.heading {
    font-family: 'Corinthia';
    color: var(--primary-color);
    font-size: 35px!important;
    position: fixed;
    top: 2%;
    right: 15%;
}

@media (max-width: 992px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        max-width: 100%;   
       
    }

    .icon-container {
        visibility: hidden;
    }

    .scroll-menu {
        height: 7vh;
        transition: 0.2s ease-in-out;
    }

    .all-black {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bx-menu {
        visibility: visible;
        position: fixed;
        top: 1.2%;
        left: 90%;
        font-size: 38px;
        cursor: pointer;
        color: var(--primary-color);
        z-index: 101;
    }

    .link-window {
        background-color:rgba(0, 0, 0, 0.5);
        border: none;
        position: fixed;
        top: 0%;
        left: 0%;
        height: 38vh;
        width: 100%;
        padding-top: 30px;   
        transition: 0.5s ease-in-out;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
    
    .show-window {
        top: 7%;
        opacity: 1;
    }
    
    
    .link-window ul {
       padding-top: 8px;
       display: block;
       text-align: center;
       height: 14vh;
       width: 80%;
      
       
    }
    
    .link-window ul li {
        font-size: 20px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        letter-spacing: 0.2px;
       

    }
    
    .link-window ul li a {
            
        color: var(--primary-color);
       
    }
    
    ul li a:hover {
        color: var(--hover-color);
        
    }

    .change:hover {
        color: blue;
    }

    .icons {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 18px;
      z-index: 3;
     
    }

    .icons i {
        margin-left: 15px;
    }

    .icons a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 25px;
    }

    header {
        max-width: 992px;
        overflow: hidden;
        -webkit-overflow-scrolling: auto;
        max-width: 100vw;
        overflow-x: hidden;
        max-height: 70vh;      
    }

    .blog-name {
        bottom: 0%;
        top: 50%!important;
        height: 10vh;
    }

    .heading {
        font-size: 45px!important;
        left: 10%;
    }

    #links {
        visibility: hidden;
    }



    .icon-container {
        width: 200px;
        display: flex;
        flex-direction: row;  
        margin-left: 0;
    }

    .icon-container i {
        margin-left: 20px;
    }

    .blog-name {
        font-size: 70px;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .text-area {
        width: 50%;
    }

    .blog-post {
        padding-bottom: 100px;
    }

}

@media (max-width: 768px) {

    .scroll-menu {
        height: 8vh;
    }

    .show-window {
        top: 8vh!important;
    }

    #links {
        border: 1px solid green;
        position: fixed;
        left: 0;
        top: 0;
    }

    .link-window {
        width: 100%;
    }

    .heading {
        font-size: 35px!important;
        left: 5%;
    }

    .bx-menu {
        left: 85%;  
    }

    .blog-name {
        font-size: 50px;
    }

    .show-window {
        top: 7%;
    }

    .link-window {
        padding-top: 10px;
    }

    .link-window ul {
        padding-top: 0px;
    }

    .link-window ul li {
        font-size: 17px;
        font-weight: 400;
       
        
    }

}